.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    body {
        background-color: #6a11cb;
      }
      
      .caja-negra {
        background-color: black;
        color: white;
        padding: 20px;
        margin: 20px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border: 1px solid black;
      }
      
      form {
        margin-top: 20px;
      }
      
      label {
        display: inline-block;
        width: 200px;
        text-align: right;
        margin-right: 10px;
      }
      
      input[type="text"],
      input[type="email"],
      textarea {
        width: 350px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 3px;
        box-sizing: border-box;
      }
      
      input[type="text"]:invalid,
      input[type="email"]:invalid,
      textarea:invalid 
      
      input[type="text"]:valid,
      input[type="email"]:valid,
      textarea:valid 
      
      input[type="number"] {
        width: 50px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 3px;
        box-sizing: border-box;
      }
      
      select {
        padding: 5px;
        border: 1px solid black;
        border-radius: 3px;
        box-sizing: border-box;
      }
      
      input[type="submit"] {
        background-color: white;
        color: black;
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px 20px;
        margin-top: 20px;
        cursor: pointer;
      }
      
      input[type="submit"]:hover {
        background-color: black;
        color: white;
      }
      
      input:required:invalid {
        background-image: url("https://cdn3.iconfinder.com/data/icons/eightyshades/512/19_Warning-512.png");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 25px 25px;
      }
      
      input:required:valid {
        background-image: url("https://image.flaticon.com/icons/png/512/23/23204.png");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 25px 25px;
      }
      
      